.footer{
    display: flex;
    
}

.updiv3{
    background-color:#010422;
    width: 100%;
    /* border: 10px solid green; */
}

.lists{
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    width: 55%;

}

.the{
    color: rgba(255, 255, 255, 0.81);
    padding-top: 50px;
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
    font-size:12px;
    border: 2px solid wheat;
  }

.oasisimage2{
    margin-left: -25px;
    color: white;
    height: -900px;
    margin-top: -50px;
}


.note{
    color: white;
    margin-top: 45px;
    font-family: 'Inter', sans-serif; 
}

.icons2{
    color: white;
    font-size: px;
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    margin-left: -20%;
}

.h0{
    color: white;
    font-size: 20px;
    font-family:Helvetica;
    font-weight: 700;
    letter-spacing: -0.05em;
}

.h1{
    color: #6E7075;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-top: 30px;
}

.h2{
    color:  #FF4D00;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-top: 20px;
}

.h3{
    color: #6E7075;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-top: 20px;
}

.h4{
    color: #6E7075;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-top: 20px;
}

.h5{
    color: #6E7075;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-top: 20px;
}

.below{
    /* border-top: 2px solid white; */
    margin-left: 130px;
    margin-right: 130px ;
}

.white{
    color: white;
    margin-left: -5px;
}

.media{
    display: none;
}

.subdiv3left{
    width: 55%;
    /* border: 2px solid wheat; */
    
}
.subdiv3leftpikin{
    /* width: 70%; */
    /* border: 2px solid red; */
    width: 60%;
    margin: -5px auto;
}
.subdiv3right{
    width: 45%;
    /* border: 2px solid gray; */
    display: flex;
    justify-content: space-around;
}


@media screen and (max-width: 600px) {
    .footer{
        display: flex;
        flex-direction: column;
    }
    .subdiv3left{
        width: 100%;
        font-size: 1.1rem;
        font-weight: 2em;
      
    }
    .subdiv3right{
        width: 100%;
    }

    .white{
        display: none;
    }
}




    
